<div id="call-to-action-space">
  <ul>
    <li id="cta-button" class="glyphicon glyphicon-arrow-right"></li>
    <li id="cta-label">
        <button type="button" class="btn btn-default btn-lg">
            <%= link_to "Let’s get started!", new_student_registration_path %>
        </button>
    </li>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <a  name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Welcome to V.I.T.AL ProJex:</h2>
                    <p class="lead">A unique and powerful not-for-profit training program designed to release the potential within everybody.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="img-responsive hero-image">
                      <%=image_tag("hero-img-1.jpg")%>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What do we do?</h2>
                    <p class="lead">We go beyond rules and lectures to create a safe and self challenging process with amazing outcomes.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <div class="img-responsive hero-image">
                      <%=image_tag("hero-img-2.jpg")%>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">We are here to help you.</h2>
                    <p class="lead">Let’s get started!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="img-responsive hero-image">
                      <%=image_tag("hero-img-3.jpg")%>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

  <a  name="contact"></a>
    <div class="banner">

        <div class="container">



        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
