<p id="notice"><%= notice %></p>

<p>
  <%= @survey.title %>
  <% @survey.questions.each do |q| %>
    <li>
      <%= q.title %>
    </li>
    <% q.responses.each do |response| %>
      <%= response.title %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
