<p id="notice"><%= notice %></p>

<p>
  <%= @survey.title %>
  <% @survey.questions.each do |q| %>
    <li>
      <li class"question_title"><%= q.title %></li>
    </li>
    <% q.responses.each do |response| %>
      <li class"reponse_title"><%= response.title %></li>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>